.cEcoPi {
    clear: both;
    width: 816px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
}

/* sc-component-id: sc-bwzfXH */

.bNCcSM {
    font-size: 12px;
    color: #a5a5a5;
    -webkit-font-smoothing: antialiased;
}

#ToastsContainer_ShimoUI .Toastify__toast-container {
    width: 100%;
    text-align: center;
    height: 0;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    right: 0;
}

#ToastsContainer_ShimoUI .Toastify__toast {
    box-shadow: none;
    background: none;
    cursor: auto;
    overflow: visible;
    margin: 0;
    padding: 0;
    display: inline;
}

#ToastsContainer_ShimoUI .Toastify__toast:after {
    content: '\a';
    white-space: pre;
}

#ToastsContainer_ShimoUI .Toastify__toast-body {
    display: inline;
}

#ToastsContainer_ShimoUI .Toast_mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    z-index: 999999;
}

.sfCUt {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: opacity 0.3s, border-color 0.3s;
    transition: opacity 0.3s, border-color 0.3s;
    color: #666;
    border-width: 0;
    background-image: linear-gradient(#fdfdfd, #f8f8f8);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    position: relative;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
    min-width: 90px;
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
}

.sfCUt:focus {
    outline: none;
}

.sfCUt:active {
    opacity: 0.9;
}

.sfCUt:hover {
    background-image: none;
}

.sfCUt::before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(65, 70, 75, 0.05);
    border-radius: 2px;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.sfCUt:hover {
    border-radius: 1px;
}

.sfCUt:hover::before {
    opacity: 1;
}

.sfCUt[disabled] {
    border-radius: 1px;
}

.sfCUt[disabled]::before {
    opacity: 1;
}

.sfCUt:hover {
    background-image: linear-gradient(#fdfdfd, #f8f8f8);
}

.sfCUt:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#f0f0f0, #f7f7f7);
}

.sfCUt[disabled] {
    color: #ccc;
    background-color: #f7f7f7;
}

.sfCUt[disabled]::before {
    border-color: rgba(0, 0, 0, 0.05);
}

.sfCUt[disabled] {
    cursor: not-allowed;
    background-image: none;
}

.inYJrZ {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: opacity 0.3s, border-color 0.3s;
    transition: opacity 0.3s, border-color 0.3s;
    color: #666;
    border-width: 0;
    background-image: linear-gradient(#fdfdfd, #f8f8f8);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    position: relative;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    min-width: 100px;
    height: 34px;
    line-height: 32px;
    padding: 0 15px;
}

.inYJrZ:focus {
    outline: none;
}

.inYJrZ:active {
    opacity: 0.9;
}

.inYJrZ:hover {
    background-image: none;
}

.inYJrZ::before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(65, 70, 75, 0.05);
    border-radius: 2px;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.inYJrZ:hover {
    border-radius: 1px;
}

.inYJrZ:hover::before {
    opacity: 1;
}

.inYJrZ[disabled] {
    border-radius: 1px;
}

.inYJrZ[disabled]::before {
    opacity: 1;
}

.inYJrZ:hover {
    background-image: linear-gradient(#fdfdfd, #f8f8f8);
}

.inYJrZ:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#f0f0f0, #f7f7f7);
}

.inYJrZ[disabled] {
    color: #ccc;
    background-color: #f7f7f7;
}

.inYJrZ[disabled]::before {
    border-color: rgba(0, 0, 0, 0.05);
}

.inYJrZ[disabled] {
    cursor: not-allowed;
    background-image: none;
}

.randomClass-dhpOWU.sm-dropdown {
    position: absolute;
    left: -9999px;
    top: -9999px;
    display: block;
    z-index: 1050;
}

.randomClass-dhpOWU.sm-dropdown .sm-dropdown-menu {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.randomClass-dhpOWU.sm-dropdown-tip::before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

.randomClass-dhpOWU.sm-dropdown-tip::after {
    content: '';
    display: block;
    position: absolute;
    border-color: transparent;
    border-width: 6px;
    border-style: solid;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-bottomLeft::before {
    left: 20px;
    top: -4px;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-bottomLeft::after {
    left: 19px;
    top: -12px;
    border-bottom-color: #fff;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-bottomRight::before {
    right: 20px;
    top: -4px;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-bottomRight::after {
    right: 19px;
    top: -12px;
    border-bottom-color: #fff;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-bottomCenter::before {
    left: 50%;
    top: -4px;
    margin-left: -6px;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-bottomCenter::after {
    left: 50%;
    top: -12px;
    margin-left: -6px;
    border-bottom-color: #fff;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-topLeft::before {
    left: 20px;
    bottom: -4px;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-topLeft::after {
    left: 19px;
    bottom: -12px;
    border-top-color: #fff;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-topRight::before {
    right: 20px;
    bottom: -4px;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-topRight::after {
    right: 19px;
    bottom: -12px;
    border-top-color: #fff;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-topCenter::before {
    left: 50%;
    bottom: -4px;
    margin-left: -6px;
}

.randomClass-dhpOWU.sm-dropdown-tip.sm-dropdown-placement-topCenter::after {
    left: 50%;
    bottom: -12px;
    margin-left: -6px;
    border-top-color: #fff;
}

.randomClass-dhpOWU.sm-dropdown-hidden {
    display: none;
}

.randomClass-dhpOWU.sm-dropdown-mask {
    z-index: 1050;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.randomClass-dhpOWU.sm-dropdown-mask-hidden {
    display: none;
}

.randomClass-mvIob {
    display: block;
    position: absolute;
    font-size: 12px;
    -webkit-font-smoothing: auto;
    line-height: 1.375;
    opacity: 1;
    z-index: 1060;
}

.randomClass-mvIob .sm-tooltip-inner {
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    background: #41464b;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    line-height: 1.375;
    white-space: normal;
}

.randomClass-mvIob.sm-tooltip-hidden {
    display: none;
}

.randomClass-mvIob .sm-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: #41464b;
    border-style: solid;
}

.randomClass-mvIob .sm-tooltip-arrow::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.randomClass-mvIob.sm-tooltip-theme-blue .sm-tooltip-inner {
    background: #8ab3e9;
}

.randomClass-mvIob.sm-tooltip-theme-blue .sm-tooltip-inner {
    background: #8ab3e9;
}

.randomClass-mvIob.sm-tooltip-theme-blue .sm-tooltip-arrow {
    border-color: #8ab3e9;
}

.randomClass-mvIob.sm-tooltip-theme-white {
    opacity: 1;
}

.randomClass-mvIob.sm-tooltip-theme-white .sm-tooltip-inner {
    color: #333;
    background: #fff;
}

.randomClass-mvIob.sm-tooltip-theme-white .sm-tooltip-inner {
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.randomClass-mvIob.sm-tooltip-theme-white .sm-tooltip-arrow {
    border-color: #fff;
}

.randomClass-mvIob.sm-tooltip-theme-white .sm-tooltip-arrow::after {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.randomClass-mvIob.sm-tooltip-placement-top, .randomClass-mvIob.sm-tooltip-placement-topLeft, .randomClass-mvIob.sm-tooltip-placement-topRight {
    padding-bottom: 7px;
}

.randomClass-mvIob.sm-tooltip-placement-top .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-topLeft .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-topRight .sm-tooltip-arrow {
    bottom: 3px;
    border-width: 4px 4px 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.randomClass-mvIob.sm-tooltip-placement-top .sm-tooltip-arrow::after, .randomClass-mvIob.sm-tooltip-placement-topLeft .sm-tooltip-arrow::after, .randomClass-mvIob.sm-tooltip-placement-topRight .sm-tooltip-arrow::after {
    left: -2.5px;
    top: -6.5px;
}

.randomClass-mvIob.sm-tooltip-placement-bottom, .randomClass-mvIob.sm-tooltip-placement-bottomLeft, .randomClass-mvIob.sm-tooltip-placement-bottomRight {
    padding-top: 7px;
}

.randomClass-mvIob.sm-tooltip-placement-bottom .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-bottomLeft .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-bottomRight .sm-tooltip-arrow {
    top: 3px;
    border-width: 0 4px 4px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.randomClass-mvIob.sm-tooltip-placement-bottom .sm-tooltip-arrow::after, .randomClass-mvIob.sm-tooltip-placement-bottomLeft .sm-tooltip-arrow::after, .randomClass-mvIob.sm-tooltip-placement-bottomRight .sm-tooltip-arrow::after {
    left: -2.5px;
    top: 1.5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.randomClass-mvIob.sm-tooltip-placement-left, .randomClass-mvIob.sm-tooltip-placement-leftTop, .randomClass-mvIob.sm-tooltip-placement-leftBottom {
    padding-right: 7px;
}

.randomClass-mvIob.sm-tooltip-placement-left .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-leftTop .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-leftBottom .sm-tooltip-arrow {
    right: 3px;
    border-width: 4px 0 4px 4px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.randomClass-mvIob.sm-tooltip-placement-left .sm-tooltip-arrow::after, .randomClass-mvIob.sm-tooltip-placement-leftTop .sm-tooltip-arrow::after, .randomClass-mvIob.sm-tooltip-placement-leftBottom .sm-tooltip-arrow::after {
    left: -6.5px;
    top: -2.5px;
}

.randomClass-mvIob.sm-tooltip-placement-right, .randomClass-mvIob.sm-tooltip-placement-rightTop, .randomClass-mvIob.sm-tooltip-placement-rightBottom {
    padding-left: 7px;
}

.randomClass-mvIob.sm-tooltip-placement-right .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-rightTop .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-rightBottom .sm-tooltip-arrow {
    left: 3px;
    border-width: 4px 4px 4px 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.randomClass-mvIob.sm-tooltip-placement-right .sm-tooltip-arrow::after, .randomClass-mvIob.sm-tooltip-placement-rightTop .sm-tooltip-arrow::after, .randomClass-mvIob.sm-tooltip-placement-rightBottom .sm-tooltip-arrow::after {
    left: 1.5px;
    top: -2.5px;
}

.randomClass-mvIob.sm-tooltip-placement-top .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-bottom .sm-tooltip-arrow {
    left: 50%;
    margin-left: -4px;
}

.randomClass-mvIob.sm-tooltip-placement-topLeft .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-bottomLeft .sm-tooltip-arrow {
    left: 16px;
}

.randomClass-mvIob.sm-tooltip-placement-topRight .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-bottomRight .sm-tooltip-arrow {
    right: 16px;
}

.randomClass-mvIob.sm-tooltip-placement-left .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-right .sm-tooltip-arrow {
    top: 50%;
    margin-top: -4px;
}

.randomClass-mvIob.sm-tooltip-placement-leftTop .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-rightTop .sm-tooltip-arrow {
    top: 8px;
}

.randomClass-mvIob.sm-tooltip-placement-leftBottom .sm-tooltip-arrow, .randomClass-mvIob.sm-tooltip-placement-rightBottom .sm-tooltip-arrow {
    bottom: 8px;
}

/* sc-component-id: sc-global-3280337108 */
.sm-tooltip.no-touch {
    pointer-events: none !important;
}

.sm-tooltip {
    pointer-events: auto !important;
}

.sm-tooltip * {
    pointer-events: auto !important;
}

.hZLpMU {
    position: relative;
    width: 38px;
    min-width: 38px;
    height: 28px;
    margin: 11px 15px 11px 0;
}

/* sc-component-id: sc-kEYyzF */

.fweXFV {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* sc-component-id: sc-iAyFgw */

.jglOwE {
    pointer-events: none;
    height: 20px;
    line-height: 24px;
    margin-left: 20px;
    box-shadow: none;
    background: inherit;
    max-width: 656px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* sc-component-id: sc-cvbbAY */

.ecwZWa {
    display: block;
    height: 18px;
    margin: 16px 0;
}

.ecwZWa > path {
    fill: #41464b;
}

/* sc-component-id: sc-jWBwVP */

.gclHxb {
    float: left;
    -webkit-text-decoration: none;
    text-decoration: none;
}

/* sc-component-id: sc-brqgnP */

.dfnjic {
    margin-left: 20px;
}

.randomClass-keafdv {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.sm-modal-mask-hidden {
    display: none;
}

.jIkhor {
    position: relative;
    width: 38px;
    min-width: 38px;
    height: 28px;
    margin: 11px 18px 11px 0px;
}

.jIkhor svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* sc-component-id: sc-keyframes-bBZnOa */
@-webkit-keyframes bBZnOa {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes bBZnOa {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* sc-component-id: sc-iELTvK */

.eSyGcE {
    position: relative;
    width: 92px;
    height: 28px;
    margin-top: 11px;
    line-height: 28px;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #888;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-image: linear-gradient(#fdfdfd, #f8f8f8);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.eSyGcE::before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(65, 70, 75, 0.05);
    border-radius: 2px;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.eSyGcE:hover::before {
    opacity: 1;
}

.eSyGcE:active {
    background-image: linear-gradient(#f0f0f0, #f7f7f7);
}

/* sc-component-id: sc-cmTdod */

.eJFVSo {
    position: relative;
    width: 8px;
    height: 30px;
    padding: 0;
    margin: 10px 0 10px 15px;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

.eJFVSo svg {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* sc-component-id: sc-jwKygS */

.chzlTF {
    vertical-align: bottom;
    margin-right: 5px;
}

/* sc-component-id: sc-btzYZH */

.jmXbDG {
    position: relative;
    height: 12px;
    line-height: 12px;
    margin: 19px 0 19px 20px;
    font-size: 12px;
    color: #a5a5a5;
}

.header-download-app .sm-modal-close {
    top: 12px;
    right: 12px;
}

.fYHeRY {
    white-space: nowrap;
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fdfdfd, #fff);
    z-index: 110;
    height: 50px;
    box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 1280px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}

.fYHeRY::after {
    clear: both;
    content: '';
    display: table;
}

/* sc-component-id: sc-iujRgT */

.kqREyy {
    position: relative;
    float: left;
    padding-left: 0px;
}

.kqREyy > a, .kqREyy > div, .kqREyy > button {
    display: inline-block;
    vertical-align: middle;
}

/* sc-component-id: sc-GMQeP */

.igOeTK {
    position: relative;
    float: right;
}

.igOeTK > a, .igOeTK > div, .igOeTK > button, .igOeTK > span {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Microsoft YaHei", 微软雅黑, 黑体, Heiti, sans-serif, SimSun, 宋体, serif;
    background-color: #F7F7F7;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
}

.hide {
    display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}