<!DOCTYPE html>
<html style="height: 100%">
 <head> 
  <meta charset="utf-8" /> 
 </head> 
 <body style="height: 100%; margin: 0"> 
  <div> 
   <input type="button" value="创建实验" onclick="crateExperiment()" /> 
   <input type="button" value="创建连接" onclick="crateConnect()" /> 
   <input type="button" value="开始解析数据" onclick="startParse()" /> 
   <input type="button" value="关闭TCP链接" onclick="stopParse()" />
   <input type="button" value="开始接受数据" onclick="startReceive()" /> 
   <input type="button" value="停止接受数据" onclick="stopReceive()" />
   <input type="button" value="同步数据" onclick="sysn()" /> 
   <label for="scale">幅值</label>
        <select id="scale" onChange="updateScale()">
            <option value=50>50</option>
            <option value=500>500</option>
            <option value=1000>1000</option>
            <option value=5000>5000</option>
            <option value=10000>10000</option>
            <option value=50000>50000</option>
        </select>
   <div id="container" style="height: 2000px"></div> 
  
  </div> 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script> 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script> 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script> 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script> 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script> 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script> 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script> 
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> 
  <script type="text/javascript">
var baseurl="http://localhost:10086/api/";
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var sampleRate=100;
var totTime=sampleRate*10;
var ch_nums=32;
var indata = Array.from({length:ch_nums},x=>Array.from({length:totTime}, y=>0));
var newdata = [];
var scale=10000;
var timeend=-1;
function crateExperiment(){
	$.ajax({
        url: baseurl+"createExperiment",
        //请求地址
        type: "get",
        //请求方式
        success: function(data) { //回调函数：数据请求成功之后调用
            //console.log(data)
			console.log(data)
        }
    })
}
function createFilter(){
	$.ajax({
        url: baseurl+"createFilter",
        //请求地址
        type: "get",
        //请求方式
        success: function(data) { //回调函数：数据请求成功之后调用
            //console.log(data)
			console.log(data)
        }
    })
}
function crateConnect(){
	    $.ajax({
        url: baseurl+"createTcp",
        //请求地址
        type: "get",
        //请求方式
        success: function(data) { //回调函数：数据请求成功之后调用
            //console.log(data)
			console.log(data)
        }
    })
}
function updateScale(){
	scale = Number($("#scale").val());
}
function sysn(){
	timeend=-1;
}
function refresh() {
    var grids = [];
    var xAxes = [];
    var yAxes = [];
    var series = [];
    var titles = [];
    var count = 0;
    echarts.util.each(indata,
    function(line) {
		length=newdata[count].length;
		line=line.slice(length);
		line=line.concat(newdata[count]);
        indata[count]=line;

		grids.push({
            show: true,
            borderWidth: 0,
            backgroundColor: '#fff',
            shadowColor: 'rgba(0, 0, 0, 0.3)',
            shadowBlur: 2
        });
        xAxes.push({
            type: 'category',
            show: false,
            gridIndex: count,
        });
        yAxes.push({
            type: 'value',
            show: false,
            //min: (value) => {
            //    return value.min-(value.max-value.min)*0.2
            //},
            //max: (value) => {
            //   return value.max+(value.max-value.min)*0.2
            //},
            min: -scale,
            max: scale,
            gridIndex: count
        });
        series.push({
            name: '',
            type: 'line',
            xAxisIndex: count,
            yAxisIndex: count,
            data: line,
            showSymbol: false,
            smooth: false,
        });
        titles.push({
            textAlign: 'center',
            text: ch_names[count],
            textStyle: {
                fontSize: 12,
                fontWeight: 'normal'
            }
        });
        count++;
    });

    var rowNumber = Math.ceil(Math.sqrt(count));
    var lineheight = Math.ceil(100 / count) + '%';
	echarts.util.each(grids,
    function(grid, idx) {
        /* grid.left = ((idx % rowNumber) / rowNumber * 100 + 0.5) + '%';
    grid.top = (Math.floor(idx / rowNumber) / rowNumber * 100 + 0.5) + '%';
    grid.width = (1 / rowNumber * 100 - 1) + '%';
    grid.height = (1 / rowNumber * 100 - 1) + '%';

    */
        grid.left = '0%';
        grid.top = Math.ceil(100 / count) * idx + '%';
        grid.width = '100%';
        grid.height = lineheight;
        titles[idx].left = parseFloat(grid.left) + '%';
        titles[idx].top = parseFloat(grid.top) + '%';

    });

    option = {
        title: titles,
        grid: grids,
        xAxis: xAxes,
        yAxis: yAxes,
        series: series
    };;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
}
function getdata() {
    $.ajax({
        url: baseurl+"getdata",
        //请求地址
        type: "get",
        //请求方式
		data: {'timeend':timeend},
        dataType: "json",
        //这里的data:发送给服务器的请求数据
        success: function(data) { //回调函数：数据请求成功之后调用
			timeend=data['timeend'];
			newdata = data['data'];
            console.log(newdata)
            //console.log(typeof (indata[0][0]))
            ch_names = data['ch_names'];
            refresh();
        }
    })
}
var loopId=0;
function startReceive(){
	loopId = setInterval(getdata,200);
}
function stopReceive(){
	clearInterval(loopId);
}
function startParse() {
    $.ajax({
        url: baseurl+"startTcp",
        //请求地址
        type: "get",
        //请求方式
        success: function(data) { //回调函数：数据请求成功之后调用
            //console.log(data)
			clearInterval(loopId);
            loopId = setInterval(getdata,100);
			
        }
    })
}
function stopParse() {
	clearInterval(loopId);
    $.ajax({
        url: baseurl+"stopTcp",
        //请求地址
        type: "get",
        //请求方式
        success: function(data) { //回调函数：数据请求成功之后调用
            console.log(data)

        }
    })
}
loopId = setInterval(getdata,200);
       </script>  
 </body>
</html>