<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>hduBCI平台</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body style="padding-top: 70px;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:">hduBCI平台</a>

            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
            </ul>

        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">数据流接入</div>
                <div class="panel-body">
                    <p><a href="/datashow">博瑞康</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="/type1/">nueronScan</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="/type2/">离线数据</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">数据预处理</div>
                <div class="panel-body">
                    <p><a href="/type3/">滤波</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="/type4/">通道选择</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="/type7/">降采样</a></p>
                </div>
            </div>
        </div>
		<div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">数据分类</div>
                <div class="panel-body">
                    <p><a href="/type3/">特征提取</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="/type4/">分类器引入</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="/type7/">分类器训练</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="/type7/">分类器预测</a></p>
                </div>
            </div>
        </div>
		<div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">结果输出</div>
                <div class="panel-body">
                    <p><a href="/type4/">本地查看</a></p>
                </div>
                <div class="panel-body">
                    <p><a href="/type7/">TCP/IP接口</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>